@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}
main {
    flex-grow: 1;
}

@theme {
    --breakpoint-xl: 1440px;
    --breakpoint-md: 768px;

    --font-roboto: "Roboto";

    --color-white: #fff;
    --color-black: #000;
    --color-blue-100: #778797;
    --color-blue-200: #657187;
    --color-blue-300: #445771;
    --color-blue-400: #2d3e58;
    --color-blue-500: #263751;
    --color-blue-600: #17263d;
    --color-cinder: #030512;
    --color-yankees-blue: #20304a;
    --color-fiord: #505e79;
    --color-cool-grey: #8e90a7;
    --color-bon-jour: #e0d9e0;
    --color-grey: #ccc;
    --color-black-opacity: rgba(0, 0, 0, 0.75);
    --color-shadow: rgba(206, 212, 218, 0.5);
    --color-grey-light: #f8f9fa;
    --color-grey-blue: rgba(101, 113, 135, 0.5);
    --color-grey-opacity: rgba(101, 113, 135, 0.5);
    --color-dark-brawn: #212529;
}

.container {
    min-width: 300px;
    padding: 0 10px;
}
@media (min-width: 768px) {
    .container {
        min-width: 648px;
        padding: 0 60px;
    }
}

.container {
    min-width: 300px;
    padding: 0 10px;
}
@media (min-width: 768px) {
    .container {
        min-width: 768px;
        padding: 0 60px;
    }
}
@media (min-width: 1440px) {
    .container {
        min-width: 1440px;
        padding: 0 204px;
    }
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

input:-webkit-autofill {
    background-color: transparent !important;
    color: inherit !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s;
    border-color: white !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}
